
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}
.profile-card {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-card h1 {
    margin: 20px 0;
    font-size: 24px;
}
.profile-card p {
    margin: 5px 0;
    font-size: 14px;
}
.profile-card ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.profile-card ul li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}